.manager-home {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   
    height: 57vh;
    
}

.manager-home-heading {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.box-container .box {
    background-color: #f8f8f8;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: #000000;
    padding: 20px;
    width: 12vw;
    height: 25vh;
    text-align: center;
    flex-shrink: 0;
    transition: transform 0.2s;
}

.box-container .box:hover {
    scale: 1.05;
    transform: translateY(-5px);
}

.box-content h2 {
    color: black; /* Change the color of the h2 to white */
    margin-top: 10px; /* Optional: Add some space above the heading */
}

.box-content {
    display: flex;
    flex-direction: column; /* Stack the image and heading vertically */
    align-items: center; /* Center align items */
}

.box img {
    max-width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
}


.manager-home-back-container {
    
    height: 50%;
  
}


.manager-home-back {
    background-color: white;
    
   
    height: 50%;
    width:23%;
    margin-top: 4%;
    font-size: 1.5em;
    
  

    
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    font-weight: bold;
}
.manager-home-back:hover {
    background-color: #0056b3;
}