.create-order-page {
    text-align: center;
    padding: 5vh;
    background-color: #ffffff; /* Solid background color */
}

.table-container-wrapper {
    display: flex;
    justify-content: center;
    gap: 5vw; /* Space between the two tables */
}

.table-container {
    background-color: #f2f2f2; /* Background color for each table container */
    padding: 3vh 2vw;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    color: #1a1a1a;
}

.food-table {
    width: 100%; /* Table takes full width of its container */
    border-collapse: collapse;
}

.food-table th, .food-table td {
    border: 0.2vh solid #ddd;
    padding: 2vh 1vw;
    text-align: left;
}

.food-table th {
    background-color: #e0e0e0;
    color: black;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vh;
}

.button-group button {
    padding: 1.5vh 2vw;
    font-size: 2vh;
    cursor: pointer;
    border: none;
    border-radius: 0.8vh;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #000000;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    color: #1a1a1a;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.popup-buttons button {
    margin: 5px;
}

