.cashier-home {
    display: flex;
    height: 90vh;
    width: 95vw;
}

.order-list-container {
    width: 25%;
    background-color: #f8f8f8;
    padding: 2vh;
    border-radius: 1vh;
    margin-right: 2vw;
}

.order-list {
    list-style-type: none;
    padding: 0;
    height: 70%;
    overflow-y: auto;
}

.order-list li {
    border-bottom: 1px solid black;
    color: black;
    padding: 1vh;
}

.order-list li:hover {
    background-color: gray;
    transition: 0.1s;
    cursor: pointer;
}

.buttons {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 75%;
}

.button-container {
    background-color: #f8f8f8;
    border-radius: 1vh;
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.button-container button {
    flex-grow: 1;
    margin: 1vh;
    height: 10vh;
    min-width: 10vw;
    text-align: center;
    white-space: normal;
}

.adjust-buttons {
    display: flex;
    gap: 2vh;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.adjust-buttons button {
    flex-grow: 1;
}

.cancel-button {
    background-color: #ad0009;
    font-weight: bold;
}

.duplicate-button-disabled {
    cursor: not-allowed;
}

.pay-button {
    display: flex;
    justify-content: center;
    width: 100%
}

.pay-button button {
    background-color: green;
    font-weight: bold;
    width: 100%
}

.selected {
    background-color: gray;
}

.delete-button {
    height: 3vh;
    width: 3vh;
    margin:  0 10px;
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    cursor: pointer;
    font-weight: bolder;
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    text-align: center;
}

.back-button-container button {
    font-size: 3vh;
    font-weight: bold;
    padding: 1vh 2vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    width: 15vw;
    height: 10vh;
}

h2 {
    color: black;
    margin-top: 0;
    text-align: center;
}

/* CashierSubmitScreen specific */

.pay-buttons {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 75%;
}

.pay-button-container {
    background-color: #f8f8f8;
    border-radius: 1vh;
    display: flex;
    gap: 1vh;
    width: 100%;
}

.pay-button-container button {
    font-size: 2em;
    font-weight: bold;
    flex-grow: 1;
    margin: 1vh;
    height: 10vh;
    min-width: 10vw;
    text-align: center;
    place-items: center;
    white-space: normal;
}