.ellipse {
    width: 50vw;
    height: 45vh;
    background-color: white;
    border-radius: 50%;
    /* border: 1vh; */
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 42px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:start;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.box-title {
    font-size: 2em;
    font-weight: bold;
    color: black;
    line-height: normal;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: black;
    color: black;
    margin: 10px 0;
}

.order-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 95vh;
    background-color: white;
    border-radius: 30px;
    color: black;
    flex: 0 1 auto;
}

.order-list {
    list-style-type: none;
    padding: 0;
    height: 70%;
    width: 100%;
    overflow-y: auto;
}

.order-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.delete-button {
    height: 3vh;
    width: 3vh;
    margin:  0 10px;
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 1vh;
}

.item-name {
    flex-grow: 1; /* Takes up remaining space */
    text-align: left;
}

.item-price {
    margin-left: auto; /* Pushes the price to the far right */
    font-weight: bold;
}

.complete-order-button {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 9vw;
    height: 5vh;
    background-color: forestgreen;
    border-radius: 20px;
    margin: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.cancel-order-button {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 5vw;
    height: 4vh;
    background-color: lightslategray;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

.addon-box {
    width: 25vw;
    height: 95vh;
    background-color: white;
    border-radius: 30px;
    /* border: 3px;
    border-style: solid;
    border-color: black; */
    flex: 0 1 auto;
}

.combo-box {
    width: 50vw;
    height: 85vh;
    background-color: white;
    border-radius: 30px;

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-direction: column;

    flex: 0 1 auto;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.combo-button-box {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-wrap: wrap;

    flex: 0 1 auto;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.combo-button {
    width: 17vw;
    height: 17vw;
    background-color: white;
    border-radius: 20px;
    border-color:whitesmoke;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    color: black;
    font-size: 18px;
}

.item-box {
    width: 50vw;
    height: 85vh;
    background-color: white;
    border-radius: 30px;

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    flex: 0 1 auto;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.item-nav {
    /* width: 15vw; */
    /* height: 10vh; */

    /* padding: 2vw; */
    
    display: flex;
    flex-direction: row;
}

.item-nav-button {
    width: 5vw;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    border-color:whitesmoke;
    border-width: 2px;

    justify-content: center;
    align-items: center;
    display: flex;

    margin-left: 1vw;
    margin-right: 1vw;

    font-size: 18px;
    color: black
}

.item-button-box {
    width: 50vw;
    height: 70vh;
    background-color: white;
    border-radius: 30px;

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-wrap: wrap;

    flex: 0 1 auto;
    margin: 15px;
    text-align: center;
    color: black;
}

.entree-button {
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 10px;
    border-color:whitesmoke;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1vw;
    color: black;
    font-size: 12px;
}

.entree-button.selected {
    background-color: black;
    border-color: black;
    color: white;
}

.side-button {
    width: 15vw;
    height: 15vw;
    background-color: white;
    border-radius: 10px;
    border-color:whitesmoke;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    color: black;
    font-size: 18px;
}

.side-button.selected {
    background-color: black;
    border-color: black;
    color: white;
}

.combo-button img,
.side-button img {
    width: 100%; 
    height: auto; 
    border-radius: 50%;
    object-fit: cover;
}
.entree-button img {
    width: 80%; 
    height: auto; 
    border-radius: 50%;
    object-fit: cover;
}

.quantity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.quantity-button button {
    width: 30px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.quantity-button .quantity-counter {
    font-size: 16px;
    padding: 0 10px;
}

.payment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.payment-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 15px;
    height: 60vh;
}

.payment-info h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #333333;
    margin: 0;
}

.payment-info p {
    font-size: 1.5em;
    font-weight: 500;
    color: #444444;
    margin: 10px 0;
}

.payment-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.payment-types button {
    color: #007bff;
    width: 80px;
    height: 60px;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-types button.selected {
    background-color: #007bff;
    color: white;
}

.complete-payment-button {
    width: 200px;
    height: 70px;
    background-color: forestgreen;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-payment-button:hover {
    background-color: darkgreen;
}

/* .translate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
} */

.translate-button {
    position:fixed;
    bottom: 20px;    /* Distance from the bottom of the screen */
    left: 50%;       /* Move to the horizontal center */
    transform: translateX(-50%); /* Center-align the component */
    z-index: 1000;   /* Ensures it stays on top of other elements if needed */

    background-color: white;
    width: 18vw;
    height: 4vw;
    border-style: solid;
    border-color: black;
    font-size: 1.5em;
    color: black;
    align-items: center;
    justify-content: center;
}
