.ellipse {
    width: 30vw;
    height: 25vh;
    background-color: white;
    border-radius: 50%;
    /* border: 1vh; */
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 42px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.box-title {
    font-size: 2em;
    font-weight: bold;
    color: black;
    line-height: normal;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: black;
    color: black;
    margin: 10px 0;
}

.order-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 95vh;
    background-color: white;
    border-radius: 30px;
    color: black;
    flex: 0 1 auto;
}

.order-list {
    list-style-type: none;
    padding: 0;
    height: 70%;
    width: 100%;
    overflow-y: auto;
}

.order-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.delete-button {
    height: 3vh;
    width: 3vh;
    margin:  0 10px;
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 1vh;
}

.item-name {
    flex-grow: 1; /* Takes up remaining space */
    text-align: left;
}

.item-price {
    margin-left: auto; /* Pushes the price to the far right */
    font-weight: bold;
}

.complete-order-button {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 9vw;
    height: 5vh;
    background-color: forestgreen;
    border-radius: 20px;
    margin: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.cancel-order-button {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 5vw;
    height: 4vh;
    background-color: lightslategray;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

.addon-box {
    width: 25vw;
    height: 95vh;
    background-color: white;
    border-radius: 30px;
    /* border: 3px;
    border-style: solid;
    border-color: black; */
    flex: 0 1 auto;
}

.combo-box {
    width: 50vw;
    height: 80vh;
    background-color: white;
    border-radius: 30px;

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-direction: column;

    flex: 0 1 auto;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.combo-button-box {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-wrap: wrap;

    flex: 0 1 auto;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.combo-button {
    width: 17vw;
    height: 17vw;
    background-color: white;
    border-radius: 20px;
    border-color:whitesmoke;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    color: black;
    font-size: 18px;
}

.item-box {
    width: 50vw;
    height: 80vh;
    background-color: white;
    border-radius: 30px;

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    flex: 0 1 auto;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.item-nav {
    /* width: 15vw; */
    /* height: 10vh; */

    /* padding: 2vw; */
    
    display: flex;
    flex-direction: row;
}

.item-nav-button {
    width: 5vw;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    border-color:whitesmoke;
    border-width: 2px;

    justify-content: center;
    align-items: center;
    display: flex;

    margin-left: 1vw;
    margin-right: 1vw;

    font-size: 18px;
    color: black
}

.item-button-box {
    width: 50vw;
    height: 70vh;
    background-color: white;
    border-radius: 30px;

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */

    display: flex;
    flex-wrap: wrap;

    flex: 0 1 auto;
    margin: 15px;
    text-align: center;
    color: black;
}

.entree-button {
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 10px;
    border-color:whitesmoke;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1vw;
    color: black;
    font-size: 12px;
}

.entree-button.selected {
    background-color: black;
    border-color: black;
    color: white;
}

.side-button {
    width: 15vw;
    height: 15vw;
    background-color: white;
    border-radius: 10px;
    border-color:whitesmoke;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    color: black;
    font-size: 18px;
}

.side-button.selected {
    background-color: black;
    border-color: black;
    color: white;
}

