h1 {
    background-color: white;
    border: 0.2vw solid black;
    color: black;
    padding: 1.5vh;
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}